@font-face {
  font-family: "RubikPuddles";
  src: local("RubikPuddles"),
    url("./fonts/RubikPuddles-Regular.ttf") format("truetype");
  font-weight: normal;
}

.logo {
  position: fixed;
  top: 0;
  left: 15px;
  z-index: 11;
  font-family: "RubikPuddles";
  font-weight: bold;
  color: var(--color-focus-2);
}

.App {
  text-align: center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: var(--color-text);
  text-align: left;
}

.projectTitle {
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 15px;
}

.sectionTitle {
  /* color: white; */
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1vh;
  text-align: center;
}

.section {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12vh 0;
}

/* button setup */

.button a {
  position: relative;
  display: block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-decoration: none;
  color: var(--color-focus-2);
  border: 1px solid var(--color-focus-2);
  letter-spacing: 2px;

  display: flex;
  justify-content: center;

  transition: all 0.35s;
}

.button a span {
  z-index: 2;
}

.button a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--color-focus-1);
  transition: all 0.35s;
}

.button a:hover {
  border: none;
  color: var(--color-text);
}

.button a:hover:after {
  width: 100%;
}
