*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  line-height: 1.4;

  
  --color-background: #628395;
  --color-text: #fff0f0;
  --color-focus-1: #ffa0a0;
  --color-focus-1-light: #ffa0a080;
  --color-focus-2: #24305e;
}

body {
  margin: 0;
}
